<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Review Page</title>

    <!--Jquery CDN google-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script scr="./static/index.js"></script>
</head>
<body>
     <div>
         <h4 id="display_date">DATE</h4>
       </div>
    <div>
        <h1>Customer Review Portal</h1>
        <p id="date">Date : </p>
    </div>
       <h4>Enter Text</h4>
      <Textarea id="text" name = "text_input" rows="4" maxlength="200" placeholder="How was your day?"></Textarea>
        <br></br>
   <div>
        <img src="static\assets\product\mobile.png" width="200">
    </div>
        <button id="predict_button" type="submit">Predict emotion</button><br></br>
    <div>
        <textarea id="text" rows="4" maxlength="300" placeholder="Enter Customer Review"></textarea>
        <br>
        <button id="button">Submit</button>
    </div>
        <p id="prediction" style="display:none"></p>
        <ing id="emo_img_url" src="" width="55" min-height="50" alt="" style="display:none">
    <div>
        <p id="sentiment" style="display: none;">Sentiment</p>
        <img src="" id="emoji" style="display: none;" width="80"/>
    </div>
    


    <!--JS file-->
    <script src="static\script.js"></script>
</body>
</html>